@import 'abstracts/base';

// Primray button styles
.button, input[type="button"], input[type="submit"], button {
  margin: rem-calc(8) 0 rem-calc(0) rem-calc(0);
  height: rem-calc(38);
  min-width: rem-calc(128);
  max-width: rem-calc(428);

  padding: rem-calc(8) rem-calc(12);
  background: #0563af;
  color: #fff;
  border: none;
  position: relative;
  overflow: hidden;
  outline: none;
  border-radius: rem-calc(3);
  text-transform: uppercase;
  font-weight: 600;
  transition: box-shadow 0.3s ease-in;


  text-decoration: none;
  display: block;

  &:hover, &:focus {
    background: transparentize(#0563af, 0.2);
    transition: all 0.15s ease-in;
    cursor: pointer;
    color: white;
  }

  a {
    color: #fff;
    display: block;
    line-height: rem-calc(38);
    border-bottom: none;
  }
}

a  {
  text-decoration: none;
}


// Ripple effect
.ripple {
  border-radius: 50%;
  background: mix(#0594b9, white);
  position: absolute;
  transform: scale(0);
  opacity: 1;
  animation: ripple 0.4s linear;
}


// Keyframes ripple
@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}


// Keyframes Scale
@keyframes scl {
  0% {
    opacity: 0;
    transform: scaleX(0.9) translateX(-50px);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}