@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap');

@import 'abstracts/base';
@import 'templates/base';
@import 'buttons';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;

  &.lab_16 {
    //background: #2a49a5;
  }

  &.les_01 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;

    table.rapport-table, table.avg-table, table.avg-table {
      border-spacing: 10px;
      background: white;
      color: black;
      border-radius: 3px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.55);
      margin: 10px;

      tr, td, th {
        padding: 8px;
        border-radius: 3px;
      }
    }
  }
}


// Table styles
.table-container {
  overflow: hidden;
  position: relative;
  @media screen and(max-width: 780px) {
    overflow-x: scroll;
  }
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 12px auto 20px auto;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 10px;
  text-align: left;
}


.actions-wrapper {

}


// Checkbox styles
.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 5px;
  border: solid blue;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-radius: 0;
  margin: 0 15px 5px 5px
}


.album {
  display: flex;
  width: 100%;
  padding: 10px 0;
  align-items: center;
  margin: 10px 0;
  background: white;
}

.omslag {
  float: left;

  img {
    height: 102px;
    width: 102px;
    margin: 28px;
  }
}

.gegevens {
  float: left;
  padding-left: 20px;

  p {
    margin: 4px 0;
  }
}

.korting {
  padding: 24px;
  background: white;
  position: relative;

  p {
    margin: 10px 0;
  }
}


.callout {
  padding: 14px 24px;
  margin: 20px 0;
  background: white;

  img {
    height: 32px;
    margin: 0;
    position: relative;
    top: 6px;
  }
}


h2 {
  padding-left: 24px;
}

img {
  height: 72px;
  width: 72px;
  margin: 28px;
}

.winkelmand-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background: rgba(228, 228, 228, 0.24);
  padding: 20px;
}

input[type="submit"] {
  display: block;
  border: none;
  cursor: pointer;
  margin: 10px 0 20px 0;
  height: 2.375rem;
  min-width: 8rem;
  max-width: 26.75rem;
  padding: 0.5rem 0.75rem;
  background: #2a49a5;
  color: #fff;
  position: relative;
  overflow: hidden;
  outline: none;
  border-radius: 0.1875rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: box-shadow 0.3s ease-in;
  text-decoration: none;
}


form {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

label {
  cursor: pointer;
  padding: 4px 4px;
}

label span {
  display: block;
  margin: 8px 0;
}

.callout {
  display: flex;

}

.data-table {
  max-width: 220px;
  margin: 0;

  tr, th {
    background: white;
  }
}

.select-container {
  position: relative;
  top: 24px;
  margin-left: 172px;

}

.verzenden-button {
  display: flex;
  justify-content: flex-end;
}

.verzenden-container {
  float: right;
  margin-top: -88px;
  margin-right: 28px;
}

.albums-container {
  padding-bottom: 22px;
}

.korting-container {
  padding-left: 22px;
  height: 200px;

  p {
    padding-left: 12px;
    padding-bottom: 4px;
  }
}

.mess_warning {
  background: lightcoral;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 18px;
  margin: 0 24px;
  max-width: 454px;

}

.mess_success {
  background: #499360;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 18px;
  margin: 0 24px;
  max-width: 284px;
}



// Input type="number"
.quantity {
  position: relative;
  float: right;
  margin: 0 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  height: 42px;
  line-height: 1.65;
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}