@import '../abstracts/base';

.box {
  position: absolute;
  bottom: -48px;
  left: 160px;
}


.box select, option {
  background-color: #0563af;
  color: white;
  padding: 8px;
  width: 250px;
  font-size: 16px;
  -webkit-appearance: button;
  //border: solid 1px #0563af;
  //box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  border: none;
  box-shadow: none;
}

.box::before {
  font-family: FontAwesome;
  content: "\f13a";
  position: absolute;
  right: 4px;
  top: 38px;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;

}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;

}